@font-face {
  font-family: "lovelo";
  src: url(../fonts/lovelo.ttf);
}

@font-face {
  font-family: "pba";
  src: url(../fonts/pba.ttf);
}



/*****************************************************clement*********************************************************************/


#accueil {
  padding: 0;
  margin: 0;
}

#accueil a:hover {
  text-decoration: none;
}


.collection-phone {
  background-image: url(../img/accueil/Palais-des-Beaux-Arts-de-Lille.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  height: 480px;
  padding: 30px 0;
}

#accueil h1 {
  font-family: "pba";
  text-align: center;
  color: white;
  font-size: 35px;
  padding: 15px;
}

.hautdroitebas {
  background-image: url(../img/accueil/deco-up.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  height: 40px;

}

#accueil h2 {
  font-family: "lovelo";
  color: white;
  font-size: 25px;
padding-top: 8px;

}

#accueil p {
  font-family: "lovelo";
  color: white;
  font-size: 15px;
}

.gauchedroite {

    background-image: url(../img/accueil/deco-up.svg);
    background-size: cover;
    background-position: 0% 92%;
    background-repeat: no-repeat;
    height: 40px;

  }

  .basgauchehaut {
    background-image: url(../img/accueil/deco-bottom.svg);
    background-size: cover;
    background-position: 0% 92%;
    background-repeat: no-repeat;
    height: 50px;


  }

  .icon-chef-oeuvre::before {
    content: "\e905";
    font-family: "pba";
    font-size: 30px;
    color: white;
}

  .icon-parcours::before {
    content: "\e922";
    font-family: "pba";
    color: white;
    font-size: 30px;
}

#accueil a:hover .icon::before {

color: #D8383F;
transition: all 0.3s ease 0s;
}


/******************************************************carousel*****************************************************/
.carousel-item {
  height: 400px;
}
#img1 {
  background-image: url(../img/accueil/LE-MUSEE-SE-REINVENTE.jpg);
  background-size: cover;
  background-position: center;
}

#img2 {
  background-image: url(../img/accueil/NOUVEAU-CAFE!-NOUVELLE-BOUTIQUE.jpg);
  background-size: cover;
  background-position: center;
}

#img3 {
  background-image: url(../img/accueil/OPEN-MUSEUM-4-ALAIN-PASSARD.jpg);
  background-size: cover;
  background-position: center;
}

#accueil .carousel-caption {
  height: 90%;

}

.hautgauchedroitebas {
border-top: 8px solid white;
border-left: 8px solid white;
border-right : 8px solid white;
height: 15px;
}

.basgauchedroitehaut {
  border-bottom: 8px solid white;
  border-left: 8px solid white;
  border-right : 8px solid white;
  height: 15px;

}

@media (min-width: 660px){

  .collection-phone {
    height: 600px
  }

  #accueil h2 {
    font-size: 46px;
  }

  #accueil p {
    font-size: 24px;
  }

  /***********************************************carousel*******************************************/
  .carousel-item {
    height: 500px;
  }

}


@media (min-width: 710px) {


  .gauchedroite, .hautdroitebas, .basgauchehaut {


      height: 65px;

    }

}

@media (min-width: 990px) {

  .gauchedroite, .hautdroitebas, .basgauchehaut {
    height: 90px;
  }


}

@media (min-width: 1200px) {

 #accueil .collection-visiter-pc {
  background-image: url(../img/accueil/Palais-des-Beaux-Arts-de-Lille.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  padding: 50px 0;
  margin: 0;

}

.fa.fa-chevron-down {
  position: absolute;
  top : 400px;
}

.basdroitehaut {
  background-image: url(../img/accueil/deco-bottom.svg);
  background-size: cover;
  background-position: 0% 92%;
  background-repeat: no-repeat;
  height: 90px;
  -moz-transform: scaleX(-1);
 -o-transform: scaleX(-1);
 -webkit-transform: scaleX(-1);
 transform: scaleX(-1);
 filter: FlipH;
 -ms-filter: "FlipH";

}

.hautgauchebas {

    background-image: url(../img/accueil/deco-up.svg);
    background-size: cover;
    background-position: 0% 0%;
    background-repeat: no-repeat;

   height: 90px;
   -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.collection-visiter-pc i {
  font-size: 40px;
  color: white;
}

.collection-visiter-pc i:hover {
  color: #D8383F;
  transition: all 0.3s ease 0s;

}




}























































































































































































































































































































































































































































































































































































































***********************************************claire***********************************************
